.eventPage{

    .eventPage__content{
        display: flex;
        flex-direction: column;

    }

    .eventPage__header{
        height: 468px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FEDBD4;

        font-family: 'Lato';
        text-align: center;


        p{
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 1px;
            color: #FF3F3A;
        }

        h1{
            width: 1020px;
            height: 120px;

            font-size: 46px;
            font-weight: 900;
            line-height: 59.8px;
            color: #1E212C;
        }
    }


    .eventPage__section-1{
        width: 1230px;
        height: 455px;
        font-family: 'Lato';
        margin: 0 auto;
        display: grid;
        grid-template-columns: 688px 495px;
        grid-template-rows: 60px 312px;
        row-gap: 40px;
        margin-top: 120px;

        .eventPage__title{
            font-size: 46px;
            font-weight: 900;
            line-height: 59.8px;
            text-align: left;
        }

        .eventPage__cartBlock{
            padding: 40px 32px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            p{
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 1px;
                text-align: left;
                color: #1E212C;
                text-transform: uppercase;
            }

            p:last-child{
                font-size: 12px;
                font-weight: 400;
                line-height: 25.6px;
                text-align: left;
                color: #787A80;
            }

            .date{
                display: flex;
                column-gap: 5px;

                p{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 31.2px;
                    text-align: left;
                    color: #FF3F3A;
                }

                .txt{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    text-align: left;
                }
            }
        }

        .eventPage__themes{
 
            .themes-list{

                li{
                    font-size: 20px;
                    line-height: 30px;
                    text-align: left;
                    cursor: pointer;

                    div{
                        display: flex;
                        column-gap: 5px;
                    }

                    span{
                        font-weight: 400;
                        color: #FF3F3A;
                    }

                    font-weight: 700;
                    color: #1E212C;

                    .theme-collapse{
                        padding: 10px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25.6px;
                        text-align: left;
                        color: #424551;
                    }
                }
            }
        }
    }
}