.form{
    width: 1549px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: linear-gradient(0deg, rgba(33, 49, 52, 0.2), rgba(33, 49, 52, 0.2)), linear-gradient(0deg, rgba(247, 210, 45, 0.4), rgba(247, 210, 45, 0.4));
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .form__container{
        width: 668px;
        height: 320px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 3px black;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #F7D22D;
            cursor: pointer;
        }

        .title{
            font-family: 'Montserrat' serif;
            font-size: 32px;
            font-weight: 800;
            line-height: 17px;
            text-align: left;
            color: #F7D22D;
        }

        input{
            width: 80%;
            height: 40px;
            padding-left: 10px;
            
        }

        .enter{
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .login-btn{
                padding: 10px 60px;
                border: none;
                color: #fff;
                background-color: rgb(141, 141, 216);
                box-shadow: 0 0 5px 1px black;
                cursor: pointer;
            }
        }
    }
}