.header{
    width: 1920px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    padding: 33px 345px 0 345px;
}

.header__logo{
    width: 130px;
    height: 22px;
}

.header__nav{
    margin-left: 60px;
    height: 26px;
}

.header__access{
    width: 386px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 222px;
}

.header__access_profile{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header__access_profile .exit{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.header__access_profile a{
    color: #424551;
}