.footer {
	margin-top: 100px;
	background-color: #f8f8f8;
	.row {
		padding: 1% 5% 1% 5%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		column-gap: 4%;

		.col,
		.logo {
			flex-basis: 21%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 10px;
			line-height: 25px;
		}

		.col:not(:nth-child(1)) {
			padding-top: 5%;
		}

		a {
			color: rgb(51, 51, 51);

			&:hover {
				color: blue;
			}
		}
	}
}
