@use "../../../../shared/styles/global";

@mixin justify-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin justify-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation {
	padding: 1% 5% 1% 5%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: var(--baseColorDark);

	.navigation__links {
		display: flex;
		flex-basis: 60%;
		column-gap: 1.5%;

		a {
			color: var(--baseColorDark);
			line-height: 22.5px;
			text-size-adjust: 100%;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 15%;
			}
		}
	}

	.navigation__access,
	.navigation__favourite {
		@include justify-center;
		column-gap: 5%;
		font-family: "Open Sans", serif;
		img {
			width: 16px;
			height: 16px;
		}

		&:hover {
			cursor: pointer;
		}
		span:hover {
			color: var(--baseColorHover);
			cursor: pointer;
		}
	}

	.navigation__access {
		position: relative;
		left: 10%;
		.accessTo {
			@include justify-column;
			row-gap: 20px;
			background-color: #fff;
			position: absolute;
			padding: 15%;
			top: 130%;
			left: 90%;
			border: 1px solid var(--baseColorDark);
			color: rgb(88, 88, 243);
			a {
				color: rgb(88, 88, 243);

				&:hover {
					color: var(--baseColorDark);
				}
			}
		}

	}
}
