.featuredcourses{
    width: 1920px;
    padding-left: 345px;
    padding-right: 345px;
    margin-top: 180px;
}

.featuredcourses__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Lato';

    p{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .featuredcourses__title{
        font-size: 46px;
        font-weight: 900;
        line-height: 59.8px;
    }
}

.featuredcourses__cart-list{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}