.teacher-cart{
    width: 600px;
    height: 214px;
    padding: 0px 32px 0px 0px;
    border-radius: 4px 0px 0px 0px;

    display: flex;
    align-items: center;
    column-gap: 32px;

    img{
        width: 214px;
        height: 214px;
        object-fit: cover;
    }
}

.about-teacher{

    width: 322px;
    height: 150px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    font-family: 'Lato';
    .category{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .about-teacher__title{
        color: #1E212C;
        font-weight: 700;
        line-height: 30px;
    }

    div{
        display: flex;
        align-items: center;
        column-gap: 8px;

        .price{
            font-size: 18px;
            font-weight: 700;
            color: red;
        }

        .teacher{
            font-size: 18px;
            font-weight: 400;
        }
    }
}