.social{
    height: 19px;
    display: flex;
    gap: 19px;

    *{
        height: 100%;
    }
}

.vk{
    width: 33px;
}

.whatsapp{
    width: 21px;
}

.youtube{
    width: 29px;
}

.tg{
    width: 24px;
}